{{ define "proc" }}
<tr id="proc--{{ .Name }}" class="odd:bg-gray-900 hover:bg-gray-700 cursor-pointer">
  <td>
    {{ if .HasLogs }}
    <a class="font-bold" href="/logs?proc={{ .Name }}">{{ .Name }}</a>
    {{ else }}
    {{ .Name }}
    {{ end }}
  </td>
  <td class="flex pl-2">
    {{ if .Running }}
    <div>
      ✅
    </div>
    {{ end }}
    <button hx-swap="outerHTML" hx-target="#proc--{{.Name}}" hx-post="/stop?proc={{ .Name }}">
      ⏹️
    </button>
    <button hx-swap="outerHTML" hx-target="#proc--{{.Name}}" hx-post="/start?proc={{ .Name }}">
      ⏩️
    </button>
  </td>
</tr>
{{ end }}
